* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding-top: 10px;
    min-height: 8vh;
    display: flex;
    padding-left: 17vh;
    font-family: 'Ultra', serif;
    align-items: center;
}

.logo {
    color: #FF8303;
    flex-direction: row;
    font-size: 25px;
    padding-left: 15vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 20vh
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: 'Ultra', sans-serif;
    text-transform: uppercase;
    padding: 20px;
}
.nav-links li {
    list-style: none;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #FF8303;
}

.sign-in {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 15vh;
}

.sign-in a, .cart a{
    color: black;
}

.sign-in a:hover {
    color: #FF8303;
}

i{
    font-size: 30px;
    padding: 20px

}

.AboutUsimg {
    background-image: url("Images/coffee2.jpg");
    min-height: 80vh;
    background-size: 1920px 960px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:20vh;
}
.AboutHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Redressed', cursive;
    padding-left: 40vh;
    padding-right: 40vh;
    color: #1b1a17;
/*    color:white;*/
}
.head1{
    padding:30px;
}
.head2 {
    font-size: 2.5rem;
    color: #1b1a17;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Redressed', cursive;
    padding-left: 40vh;
    padding-right: 40vh;
}
.head3 {
    font-size: 1.5rem;
    color: #1b1a17;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Redressed', cursive;
    padding-left: 40vh;
    padding-right: 40vh;
}

    /*----------------------------Master page CSS*--------------------------/