* {
    margin: 3px 0px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    min-height: 8vh;
    display: flex;
    font-family: 'Ultra', serif;
    align-items: center;
    justify-content: center;
}
.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:white;
}

.logo {
    color: #FF8303;
    flex-direction: row;
    font-size: 25px;
    padding-left: 10vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-left: 10vh
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: 'Ultra', sans-serif;
    text-transform: uppercase;
    padding: 20px;
}
.nav-links li {
    list-style: none;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #FF8303;
}

.sign-in {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 10vh;
    align-items:center;
}

.sign-in a, .cart a{
    color: black;
}

.sign-in a:hover {
    color: #FF8303;
}

i{
    font-size: 30px;
    padding: 20px

}

.AboutUsimg {
    background-image: url(Images/coffee2.jpg);
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}
.AboutHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Redressed', cursive;
    padding-left: 40vh;
    padding-right: 40vh;
    color: #1b1a17;
/*    color:white;*/
}
.head1{
    padding:30px;
}
.head2 {
    font-size: 2.5rem;
    color: #1b1a17;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Redressed', cursive;
    padding-left: 40vh;
    padding-right: 40vh;
}
.head3 {
    font-size: 1.5rem;
    color: #1b1a17;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Redressed', cursive;
    padding-left: 40vh;
    padding-right: 40vh;
}

.Logopic{
    width:280px;
    height:83px;
}

.centeredDiv {
    margin: auto;
}
.MainAbt {
    min-height: 80vh;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.MainAbt p {
    text-indent: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
}

.hrtext {
    padding-top:40px;
    display: flex;
    align-items: center;
}

.hrbefore, .hrafter {
    flex: auto;
    margin-right: 50px;
    margin-left: 50px;
}

.hrcontent {
    font-family: 'Ultra', sans-serif;
    text-align: center;
    font-size: 3rem;
    background: -webkit-linear-gradient( #b82e1f, #f2c17d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AboutBottomHeader {
    font-size: 2.5rem;
    font-family: 'Ultra', sans-serif;
    padding-bottom: 40px;
    align-self: center;
}
.AboutContent{
    display:flex;
    flex-direction:row;
    padding-top:50px;
}
.AboutCoffee{
    width:800px;
    height:600px;

}
.AboutPar{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.divFooter {
    min-height: 20vh;
    background-color: #1b1a17;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    
}
.divFooter a{
    color: white;
    text-decoration: none;
}
footer{
    display:flex;
    flex-direction:column;
}

footer li{
    list-style:none;
}
.FooterP p{
    color:white;
    font-size:1.5rem;
}
.FooterP{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom:15px;
}
.SocialMedia i{
    color:white;
}
.InfoUL, .SocialMedia, .Terms{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.Terms span{
    color:white;
}
.InfoUL li{
    color:white;
    font-size:1rem;
}
.MainHomeDiv {
    justify-content: center;
    display: flex;
    padding-bottom: 60px;
    box-sizing: border-box;
    flex-grow: 1;
    /*    background-image: url(Images/coffee1.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:inherit;*/
}
.HomeDiv{
    min-height:60vh;
}
.HomePic {
    width: 100%;
}
.WelcomeText{
    position:absolute;
    text-align:center;
    display:flex;
    flex-direction:column;
    padding-top: 20vh;
    font-family: 'Ultra', sans-serif;
}
.HomeHeader{
    font-size:10rem;
}
.HomeH3 {
    font-size: 5rem;
    background: -webkit-linear-gradient( #b82e1f, #f2c17d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h2Head{
    padding-top:40px;
}
.buttons{
    display:flex;
    flex-direction:row;
    padding-top:40px;
    align-items:center;
    justify-content:center;
    

}
.ProductButton{
    padding-right:80px;
}
.AboutButton, .ProductButton {
    text-align: center;
    color: white;
    cursor: pointer;
    background: #1B1A17;
    border-radius: 80px;
    border: none;
    transition: all 0.5s ease;
    padding: 1rem;
    width:40%;
}
.ProductButton {
    margin-right: 50px;
    background: #A35709;
}
.ProductButton:hover{
    background:#FF8303

}
.AboutButton {
    background: #1B1A17;
}
.AboutButton:hover{
    background:black;
}
.aboutbutton, .Homeabout{
    color:white;
    text-decoration:none;
}

.DelCart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 100px;
}
.CoffeeshpDiv {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    position:relative;
}
.CoffeeshpDiv1{
    display:flex;
    justify-content:center;
    position:relative;
}
.CoffeeShp1, .CoffeeShp{
    transition:all 8s ease-out;
}
.CoffeeShp1:hover, .CoffeeShp:hover {
    transform:scale(1.2);
    cursor:pointer;
}
.CoffeeShp1 {
    width: 60%;
}


/*---------------------------------------Checkout Page CSS---------------------------------------------*/

.CheckoutCenterDiv {
    margin: auto;
    background: #f1f1f1;
    min-height:80vh;
}

.Checkoutnav{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color:white;
}
.Checkoutpic {
    padding-right: 68vh;
}
.checkoutreturn {
    padding-right: 20vh;
}
.clickHome:hover {
    color: #FF8303;
    text-decoration:underline;
    cursor:pointer;
}
.CheckoutHeader{
    min-height:2vh;
    font-family: 'Poppins', sans-serif;
    font-size:2rem;
    font-weight:bold;
    display:flex;
    justify-content:center;
    padding-top:20px;
}
.DivContainers{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.Shipping{
    background:black;
    min-height:4vh;
}
.Summary{
    background:#f1f1f1;
    min-height:4vh;
}
.SummaryTitle {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 5px;
}
.ShippingTitle {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 5px;
}
.LeftContainer {
    min-width: 50vh;
    background: white;
    min-height: 70vh;
    padding-bottom: 30px;
}
.innerShipping {
    padding: 40px;
    min-height: 70vh;
    min-width: 30vh;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}
.innerSummary {
    padding: 40px;
    min-width: 30vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.NoRec{
    display:flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}
.LabelFname, .LName ,.EmailLabel, .MobileLabel ,.AddressLabel ,.MunicipalityLabel ,.ProvLBL ,.ZipLbl{
    padding-bottom:10px;
}
.txtName, .txtLName, .EmailTXT, .MobileTxt, .AddressTxt, .MuniTxt, .ProvTxt, .ZipTXT{
    width: 600px;
    border: none;
    background: #f1f1f1;
    padding: 16px;
}
.txtName, .txtLName, .EmailTXT, .MobileTxt{
    pointer-events:none;
}

.AddressTxt:focus, .MuniTxt:focus, .ProvTxt:focus, .ZipTXT:focus {
    background-color: #ddd;
    outline: none;
}

.rightContainer {
    padding-left: 30px;
    min-width: 30vh;
    background: #f1f1f1;
    min-height: 35vh;
    padding-bottom: 30px;
}
.Summary {
    background: black;
    min-height: 4vh;
}
.innerSummary {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.Total {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Btns{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding-top:30px;
}
.CheckoutBtn {
    padding: 20px;
    background-color: #FF8303;
    color: white;
    border: none;
    transition: 0.5s ease-in;
}
.CancelBtn {
    padding: 20px;
    width:100px;
    background-color: red;
    color: white;
    border: none;
    transition: 0.5s ease-in;
    opacity:1;
}
.CheckoutBtn:hover {
    background-color:orange;
    cursor:pointer;
}

.CancelBtn:hover {
    opacity:0.5;
    cursor:pointer;
}

.hide{
    display:none;
    padding-top:30px;
}
.show {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.CheckOut {
    padding: 20px;
    border: none;
    color: white;
    background-color: darkorange;
    opacity:1;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.CheckOut:hover {
    background-color: #FF8303;
}

.ItemPadding, .ProdPadding, .QuantityPadding {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

}
.QuantityPadding {
    display: flex;
    justify-content: center;
}

.AccountIcon {
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    width: 20vh;
    border-radius: 80px;
}
.AccountIcon:hover{
    color:#FF8303
}
.AccountIcon a {
    color: white;
    display:flex;
    align-items:center;
    transition: all 0.5s ease;
}
.AccountLabel{
    padding:5px;
    text-decoration:none;
    display:flex;
    align-items:center;
}